<div class="col s12 m6 l4"><a href="/auth/logout" class="waves-effect waves-light btn btn-home"><i class="material-icons left">home</i>Выйти</a></div>
<div class="container">
  <div class="row">
    <h1 class="grey-text profile-title">Профиль</h1>
    <div  class="col s12 m12 profile__userinfo">
      <div class="col s12 m12 l6 profile__useravatar">
        <img 
          class="avatar"
          src="/assets/images/user.png" 
          alt="avatar-{{dataUndefind data.client_fullname}}"
          >
      </div>
      {{#if data}}
      <div class="col s12 m12 l6">
        <div class="card">
          <div class="card-content">
            <span class="card-title center-align">Персональная информация</span>
            <form action="/profile" method="POST" enctype="multipart/form-data">
              <p class="profile__email"><span><b>Тип газа:</b></span> <strong>{{dataUndefind data.property_3}}</strong></p>
              <p class="profile__email"><span><b>№ лицевого счета:</b></span> <strong>{{dataUndefind data.personal_number}}</strong></p>
              <hr>
              <p class="profile__email"><span><b>Ваш адрес:</b></span> <strong>{{dataUndefind data.address_additional}}</strong></p>
              <p class="profile__email"><span><b>Контактный телефон:</b></span> <strong>+{{user.phone}}</strong></p>
              <p class="profile__email"><span><b>Ваш email:</b></span> <strong>{{user.email}}</strong></p>
              <hr>
              <div class="input-field profile__username">
                <input id="name" name="name" type="text" class="validate" required value="{{data.client_fullname}}">
                <label for="name">Ваши Ф.И.О.:</label>
                <span class="helper-text" data-error="Ф.И.О. не может быть пустым"></span>
              </div>
              <input type="hidden" name="_csrf" value="{{csrf}}">
              <button type="submit" class="btn btn-lg btn_save">Сохранить изменения</button>
            </form>
          </div>
        </div>
        {{else}}
        <div class="col s12 m12 l6 profile__info cards__item not_found_block">
          <div class="card">
            <div class="card-content">
              <span class="card-title center-align">Информация недоступна</span>
              <p>Указанный номер лицевого счета не найден...</p>
            </div>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  <hr>
  {{#if equipment}}
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content">
          <span class="card-title center-align">Оборудование</span>
          <table class="profile__table responsive-table">
            <thead>
              <tr>
                <th class="center-align numb">№<br>п/п</th>
                <th class="center-align">Дата установки</th>
                <th class="center-align">Категория</th>
                <th class="center-align">Марка оборудования</th>
                <th class="center-align">Заводской номер</th>
              </tr>
            </thead>
            <tbody>
              {{#each equipment}}
              <tr>
                <td class="center-align center-align numb">{{addOne @index}}</td>
                <td class="center-align description-text">{{formatDate this.dataValues.modified_date}}</td>
                <td class="center-align description-text">{{dataUndefind this.dataValues.category}}</td>
                <td class="center-align description-text">{{dataUndefind this.dataValues.mark}}</td>
                <td class="center-align description-text">{{dataUndefind this.dataValues.serial_number}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div class="col s12 m12 l12 not_found_block">
    <div class="card">
      <div class="card-content">
        <span class="card-title center-align">Оборудование</span>
        <div class="content-out">
          <img src="/assets/images/not-found.gif" alt="not_found" class="not_found center-align">
          <p class="not_found-text">Информация не найдена...</p>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  {{#if orders}}
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content">
          <span class="card-title center-align">Оказанные услуги</span>
          <table class="profile__table responsive-table">
            <thead>
              <tr>
                <th class="center-align numb">№<br>п/п</th>
                <th class="center-align">Дата выезда</th>
                <th class="center-align">Тип сообщения</th>
                <th class="center-align">Вид операции</th>
                <th class="center-align">Что сделано</th>
                <th class="center-align">Статус</th>
                <th class="center-align">Сумма</th>
                <th class="center-align">Исполнитель</th>
              </tr>
            </thead>
            <tbody>
              {{#each orders}}
              <tr>
                <td class="center-align numb">{{addOne @index}}</td>
                <td class="center-align description-text">{{formatDate this.dataValues.modified_date}}</td>
                <td class="center-align description-text">{{dataUndefind this.dataValues.message_type}}</td>
                <td class="center-align description-text">{{dataUndefind this.dataValues.operation_type}}</td>
                <td class="center-align description-text">{{dataUndefind this.dataValues.work_description}}</td>
                <td class="center-align description-text">{{dataUndefind this.dataValues.status}}</td>
                <td class="center-align description-text">{{dataUndefind this.dataValues.order_sum}}</td>
                <td class="center-align description-text">{{dataUndefind this.dataValues.department}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div class="col s12 m12 l12 not_found_block">
    <div class="card">
      <div class="card-content">
        <span class="card-title center-align">Оказанные услуги</span>
        <div class="content-out">
          <img src="/assets/images/not-found.gif" alt="not_found" class="not_found center-align">
          <p class="not_found-text">Информация не найдена...</p>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  {{#if interactions}}
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content">
          <span class="card-title center-align">Взаимодействие</span>
          <table class="profile__table responsive-table">
            <thead>
              <tr>
                <th class="center-align numb">№<br>п/п</th>
                <th class="center-align">Вид</th>
                <th class="center-align">Статус</th>
                <th class="center-align">Документ</th>
                <th class="center-align">Номер документа</th>
              </tr>
            </thead>
            <tbody>
              {{#each interactions}}
              <tr>
                <td class="center-align numb">{{addOne @index}}</td>
                <td>{{dataUndefind this.dataValues.doc_type}}</td>
                <td>{{dataUndefind this.dataValues.interaction_status}}</td>
                <td>{{dataUndefind this.dataValues.interaction_kind}}</td>
                <td>{{dataUndefind this.dataValues.interaction_number}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div class="col s12 m12 l12 not_found_block">
    <div class="card">
      <div class="card-content">
        <span class="card-title center-align">Взаимодействие</span>
        <div class="content-out">
          <img src="/assets/images/not-found.gif" alt="not_found" class="not_found center-align">
          <p class="not_found-text">Информация не найдена...</p>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  {{#if payments}}
  <div class="row">
    <div class="col s12 m12 l12 not_found_block">
      <div class="card">
        <div class="card-content">
          <span class="card-title center-align">Платежи</span>
          <table class="profile__table responsive-table">
            <thead>
              <tr>
                <th class="center-align numb">№<br>п/п</th>
                <th class="center-align">Период</th>
                <th class="center-align">Вид расчета</th>
                <th class="center-align">Тариф (услуга)</th>
                <th class="center-align">Льгота</th>
                <th class="center-align">Пени</th>
                <th class="center-align">Перерасчет</th>
                <th>Сумма</th>
              </tr>
            </thead>
            <tbody>
              {{#each payments}}
              <tr>
                <td class="center-align numb">{{addOne @index}}</td>
                <td class="center-align description-text">{{formatDate this.dataValues.period}}</td>
                <td class="center-align description-text">{{checkPayments this.dataValues.move_type}}</td>
                <td class="center-align description-text">{{dataUndefind this.dataValues.service}}</td>
                <td class="center-align description-text">{{checkFalse this.dataValues.privilege}}</td>
                <td class="center-align description-text">{{checkFalse this.dataValues.late_payment_penalty}}</td>
                <td class="center-align description-text">{{checkFalse this.dataValues.recalculation}}</td>
                <td class="description-text">{{dataUndefind this.dataValues.payment_sum}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div class="col s12 m12 l12 not_found_block">
    <div class="card">
      <div class="card-content">
        <span class="card-title center-align">Платежи</span>
        <div class="content-out">
          <img src="/assets/images/not-found.gif" alt="not_found" class="not_found center-align">
          <p class="not_found-text">Информация не найдена...</p>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  {{#if meters}}
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content">
          <span class="card-title center-align">Показания счтетчика</span>
          <table class="profile__table responsive-table">
            <thead>
              <tr>
                <th class="center-align numb">№<br>п/п</th>
                <th class="center-align">Дата</th>
                <th class="center-align">Показание счетчика</th>
                <th class="center-align">Метод получения информации</th>
              </tr>
            </thead>
            <tbody>
              {{#each meters}}
              <tr>
                <td class="center-align numb">{{addOne @index}}</td>
                <td class="center-align description-text">{{formatDate this.dataValues.doc_date}}</td>
                <td class="center-align description-text">{{dataUndefind this.dataValues.meter_value}}</td>
                <td class="center-align description-text">{{dataUndefind this.dataValues.method_inf}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div class="col s12 m12 l12 not_found_block">
    <div class="card">
      <div class="card-content">
        <span class="card-title center-align">Показания счтетчика</span>
        <div class="content-out">
          <img src="/assets/images/not-found.gif" alt="not_found" class="not_found center-align">
          <p class="not_found-text">Информация не найдена...</p>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</div>